/* Resetando estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}

/* Container centralizado */
.container {
    width: 90%;
    margin: 0 auto;
}

/* Cabeçalho */
header {
    background-color:  #b63f3f;
    color:#ffde59;
    padding: 20px 0;
}

header h1 {
    text-align: center;
    font-size: 2.5rem;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

nav ul li a:hover {
    color: #f39c12;
}

/* Seção do banner */
.banner {
    position: relative;
    height: 400px;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.banner-text h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.banner-text p {
    font-size: 1.2rem;
}

/* Seção de Informações Básicas */
.informacoes {
    background-color: #f4f4f4;
    padding: 40px 0;
    text-align: center;
}

.informacoes h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.informacoes p {
    font-size: 1.1rem;
    color: #555;
}

/* Seção de Menu */
.menu {
    background-color: #f4f4f4;
    padding: 40px 0;
}

.menu h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
}

.menu-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu-item {
    background-color: #f9f9f9;
    width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.menu-item h3 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.menu-item p {
    margin: 10px 0;
    color: #777;
}

.menu-item span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #e74c3c;
}

/* Rodapé */
footer {
    background-color:  #b63f3f;
    color: #ffde59;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #e5533d;
}
.mensagem-carrinho {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 8px;
    font-size: 18px;
    display: none;
    z-index: 1000;
    text-align: center;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}